@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro:700);

$sans: 'Source Sans Pro', sans-serif;
$mono: 'Source Code Pro', monospace;

body {
    font-family: $sans;
}

#guid-list {
    font-family: $mono;
    font-size: 36px;
}

.guid-row {
    margin-top: 10px;
}
